@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

:root {
    --dark-blue: rgb(14, 23, 39); 
    --sure-blue: rgb(10, 39, 73);
    --pastel-blue: rgb(30, 57, 87);
    --sure-gold: rgb(204, 162, 47);
    --pastel-gold: rgb(202, 164, 93);
    --beige-grey: rgb(205, 205, 195);
    --very-yellow: rgb(255, 235, 0);
    --box-size-unit: 5vw;
}

main {
    height: 90vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

#tsparticles {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.calendar__container {
    width: clamp(35vw, 35vw, 50vw);
    height: clamp(49vw, 49vw, 65vw);
    margin: 3vw auto;
    box-shadow: 1px 2px 5px 1px rgba(255,235,0,.6),
      -1px -2px 5px 1px rgba(219, 219, 217, 0.6);
    background: rgba(30, 57, 87, .6);
    border-top: 5px solid var(--pastel-gold);
    border-right: 5px solid var(--sure-gold);
    border-bottom: 5px solid var(--beige-grey);
    border-left: 5px solid var(--pastel-blue);
    display: flex;
    flex-direction: column;
    align-content: center;
}

.header {
    transform: rotate(-3deg);
    padding: 1rem;
    margin: 1rem auto;
}

.header > h1 {
    /* want to transform so that it glows */
    font-family: 'Raleway Dots', cursive;
    color: white;
    font-size: 7vh;
    text-shadow: #ffeb00 1px 0 10px;
    display: inline-block;
}

.calendar__boxes {
    width: clamp(30vw, 35vw, 40vw);
    height: clamp(30vw, 35vw, 40vw);
    align-self: flex-end;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, var(--box-size-unit));
    grid-template-rows: repeat(5, var(--box-size-unit));
    gap: 3px;
    align-content: end;
    justify-content: center;
    padding: .3rem;
    overflow: hidden;
}

/* Standard boxes styling */
.box--standard div {
    height: clamp(var(--box-size-unit), var(--box-size-unit), calc(2 * (var(--box-size-unit) + 3px)));
    width: clamp(var(--box-size-unit), var(--box-size-unit), calc(2 * (var(--box-size-unit) + 3px)));
}

.box--locked {
    border-top: 5px solid rgb(224,229,236);
    border-left: 5px solid rgb(192,203,217);
    border-bottom: 5px solid rgb(128,151,178);  
    border-right: 5px solid rgb(160,177,197);
    background-color: rgb(208,216,226);
    opacity: .8;
    padding: .3rem;
}

.box--unlocked {
    background-color: rgba(205, 205, 195, .8);
    border-radius: 0.1rem;
    font-size: xx-small;
}

.box--open-full {
    border: 3px solid yellow;
}

/* Sizing & styling for double-boxes */
.double-row {
    grid-column: span 1;
    grid-row: span 2;
}

.double-column {
    grid-column: span 2;
    grid-row: span 1;
}

.double-row > div {
    height: calc(2 * var(--box-size-unit) + 3px);
    border-top: 5px solid rgb(173,205,193);
    border-left: 5px solid rgb(141,186,169);
    border-bottom: 5px solid rgb(85,140,119);  
    border-right: 5px solid rgb(109,166,145);
    background-color: rgb(157,195,181);
}

.double-column > div  {
    width: calc(2 * var(--box-size-unit) + 3px);
    height: var(--box-size-unit);
    border-top: 5px solid rgb(253,252,240);
    border-left: 5px solid rgb(246,242,196);
    border-bottom: 5px solid rgb(231,222,108);  
    border-right: 5px solid rgb(238,232,152);
    background-color: rgb(249,247,218);
}

/* Blocked boxes styling */

/* .heart {
    width: calc(2 * var(--box-size-unit) + 3px);
    border-top: 5px solid rgb(253,252,240);
    border-left: 5px solid rgb(246,242,196);
    border-bottom: 5px solid rgb(231,222,108);  
    border-right: 5px solid rgb(238,232,152);
    background-color: rgb(249,247,218);
}

.gift {
    width: calc(2 * var(--box-size-unit) + 3px);
    border-top: 5px solid rgb(253,252,240);
    border-left: 5px solid rgb(246,242,196);
    border-bottom: 5px solid rgb(231,222,108);  
    border-right: 5px solid rgb(238,232,152);
    background-color: rgb(249,247,218);
}

.snowman {
    width: calc(2 * var(--box-size-unit) + 3px);
    border-top: 5px solid rgb(253,252,240);
    border-left: 5px solid rgb(246,242,196);
    border-bottom: 5px solid rgb(231,222,108);  
    border-right: 5px solid rgb(238,232,152);
    background-color: #f9f7da;
} */

